@model CrudTestar.Models.Usuario

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nomeCompletoUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nomeCompletoUsuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.usuarioUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.usuarioUsuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.emailUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.emailUsuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.senhaUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.senhaUsuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nascimentoUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nascimentoUsuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.telefoneUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.telefoneUsuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cpfUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cpfUsuario)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.idUsuario">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
